.customer-container {
  margin-top: 105px;
}

.column {
  justify-items: center;
}

.des {
  font-style: italic;
}

.c-card-body {
  justify-items: left;
  background-color: white;
}

.customer-card {
  height: 236px;
  width: 348px;
}

.customer-title {
  font-weight: bold;
}

.customer-text {
  font-weight: 300;
}
