.story-container {
  margin-top: 105px;
}

.title {
  text-align: center;
  color: #fe5f1a;
  margin-bottom: 15px;
}

.logo {
  height: 70.84px;
  width: auto;
  margin-right: 55px;
  margin-bottom: 15px;
}

.story-content,
.mission-content {
  text-align: justify; /* Adjust text alignment if necessary */
  font-size: 16px;
  line-height: 1.8;
  color: #ff814a; /* Optional: Customize the text color */
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

h6 {
  color: #ff814a;
  margin-left: 80px;
  margin-right: 80px;
}
